html{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{

	font-family: helvetica,arial,sans-serif;
	font-size: 16px;
	padding-top:50px;
	background-image: url('../images/buffet-counter-cozy-776538.jpg');
	background-size: auto;
	background-repeat: no-repeat;

}

.container{
	width: 50%;
	height: 100%;
	margin:10% auto;
	border: none;
	text-align:center;
	color: #212121;
	background:rgba(1, 1, 1, 0.6);
	color:white;
	padding:10px;
}

#slider{
	width: 100%;
	text-align: left;
	color:white;
}

#tip-total{
	padding-top:20px;
	color:white;
}

.bill-main,.bill-main input{
	font-size:18px;
	padding: 10px;
	border: none;
	color:white;
}






