html{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background:#f4f4f4;
	font-family: helvetica,arial,sans-serif;
	color: #FFF7EA;
	font-size: 16px;
	padding-top:50px;
}

.container{
	width: 50%;
	height: 100%;
	position: relative;
	margin:auto;
	border: none;
	text-align:center;
	color: #212121;
	background:#FFECEC; 
}

#slider{
	width: 100%;
	text-align: left;
}

#tip-total{
	padding-top:20px;
}

.bill-main,.bill-main input{
	font-size:18px;
	padding: 10px;
	border: none;
}






