body{
	background:#FFC966;
	font-family: helvetica,arial,sans-serif;
	color: #FFF7EA;
	font-size: 16px;
	padding-top:150px;
}

.container{
	width: 100%;
	margin:auto;
	border: none;
	padding: 5px 20px;
	text-align:center;
}

#slider{
	width: 50%;
	text-align: left;
}

.bill-main,.bill-main input{
	font-size:18px;
	padding: 10px;
	border: none;
}






